# docker-compose.yml
version: '3.9'

services:
  app:
    build: .
    container_name: nuxt4-prod
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=3000
    # 如果你有环境变量文件
    # env_file: .env.production